{% extends "network/layout.html" %}

{% block body %}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <!-- Profile Picture -->
                    <div class="col-md-3 text-center">
                        <img src="{{  profile_user.user_img.url }}" class="rounded-circle profile-img-lg" alt="Profile Picture">
                    </div>
                    <!-- Profile Info -->
                    <div class="col-md-9">
                        <h4 class="mb-0">{{profile_user.username}}</h4>
                        <p class="text-muted">{{profile_user.email}}</p>
                        <p>
                            {{profile_user.bio}}
                        </p>
                        <div class="d-flex mb-2">
                            <div class="mr-4">
                                <strong class="followings">{{ profile_user.following.count }}</strong> Following
                            </div>
                            <div>
                                <strong class="followers">{{ profile_user.followers.count }}</strong> Followers
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    
</div>


{% endblock %}