{% extends "network/layout.html" %}

{% block body %}

    {% if user.is_authenticated %}

        <!-- Post Composer -->
        <div class="post-box compose">
            <div class="d-flex">
                <img src="{{  user.user_img.url }}" class="profile-img me-2 mr-2" alt="Profile">
                <div class="flex-grow-1">
                    <form action="{% url 'post_add' %}" method="post">
                        {% csrf_token %}
                        <textarea name="content" class="form-control border-0" placeholder="What's happening?" required></textarea>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <div>
                                <i class="far fa-image text-primary"></i>
                                <i class="far fa-smile text-primary ms-3"></i>
                            </div>
                            <input type="submit" class="btn btn-primary rounded-pill" value="Post"/>
                        </div>
                    </form>
                    
                    
                </div>
            </div>
        </div>

        <div class="posts">

            {% for post in posts%}
            <div class="post-box">
                <div class="d-flex">
                    <img src="{{ post.user.user_img.url }}" class="profile-img me-2 mr-2" alt="Profile">
                    
                    <div class="d-flex flex-column flex-grow-1">
                        <div class="mb-0">{{post.user.username|upper}} <span class="text-muted"> {{post.user.email}}· {{post.created_at|timesince }} ago</span></div>
                        <p>
                            {{post.content}}
                        </p>
                        
                        <div class="d-flex justify-content-around w-100">
                            <a href="#" class="far fa-comment"><span class="pl-2">0</span></a>
                            <a href="#" class="far fa-heart"><span class="pl-2">{{ post.likes.count }}</span></a>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            {% endfor %}

        </div>

    {% endif %}

{% endblock %}