{% extends "network/layout.html" %}

{% block body %}

<div class="row mt-4">
    <div class="col-12">


        <div class="profile-header">
            <div class="position-relative">
                <!-- Cover Image -->
                <div class="cover-image">
                    <img src="{{  profile_user.cover_img.url }}" alt="Cover" class="w-100" style="height: 200px; object-fit: cover;">
                </div>
                <!-- Profile Picture -->
                <div class="profile-picture position-absolute" style="bottom: -50px; left: 20px;">
                    <img src="{{  profile_user.profile_picture.url }}" alt="Profile" class="rounded-circle border border-4 border-white" style="width: 120px; height: 120px; object-fit: cover;">
                </div>

                {% if user.is_authenticated and user == profile_user %}
                <!-- Edit Profile Button -->
                <div class="position-absolute" style="top: 210px; right: 20px;">
                    
                        <button 
                            class="btn btn-dark" 
                            data-toggle="modal" 
                            data-target="#editProfileModal"
                        >
                            Edit Profile
                        </button>
                    
                </div>
                {% endif %}

                {% if user.is_authenticated and user != profile_user %}
                <div class="following-button position-absolute" style="top: 210px; right: 20px;">
                    
                        {% if is_following %}
                            <button  data-user-id="{{ profile_user.id }}" class="btn btn-danger follow">Unfollow</button>
                        {% else %}
                            <button  data-user-id="{{ profile_user.id }}" class="btn btn-dark follow">Follow</button>
                        {% endif %}
                    
                </div>
                {% endif %}

            </div>
        </div>

        <!-- Profile Info -->
        <div class="profile-info mt-5 p-3">
            <h4 class="mb-0">{{profile_user.full_name}}</h4>
            <span class="text-muted">@{{profile_user.username}}</span>
            <span class="">
                <a href="https://{{profile_user.website}}" target="_blank">{{profile_user.website}}</a>  
            </span> 
            <div class="bio">
                <p>
                    {{profile_user.bio}}
                </p>
            </div>
            
            <div class="profile-stats mt-3 d-flex mb-2 justify-content-between">
                <div class="d-flex">
                    <div class="mr-4">
                        <strong class="followings">{{ profile_user.following.count }}</strong> Following
                    </div>
                    <div>
                        <strong class="followers">{{ profile_user.followers.count }}</strong> Followers
                    </div>
                </div>


               


            </div>

            
        </div>



    </div>
</div>

<div class="row">

    <div class="col-12">
        <h4 class="mt-4">Posts of {{ profile_user.username }}</h4>   
    
    {% include "network/posts.html" %}


    </div>
</div>



<!-- The Modal -->
<div class="modal" id="editProfileModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Profile</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form id="edit-profile-form" action="{% url 'edit_profile' profile_user.username %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" class="form-control" id="first_name" name="first_name" value="{{ profile_user.first_name }}">
            </div>

            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" value="{{ profile_user.last_name }}">
            </div>
            
            <div class="form-group">
              <label for="bio">Bio</label>
              <textarea class="form-control" id="bio" name="bio" rows="3">{{ profile_user.bio }}</textarea>
            </div>
            <div class="form-group">
                <label for="website">Website</label>
                <input type="text" class="form-control" id="website" name="website" value="{{ profile_user.website }}">
            </div>
            <div class="form-group">
              <label for="profilePicture">Profile Image</label>
              <input type="file" class="form-control-file" id="profilePicture" name="profilePicture">
            </div>

            <div class="form-group">
                <label for="coverImage">Cover Image</label>
                <input type="file" class="form-control-file" id="coverImage" name="coverImage">
              </div>

          </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" form="edit-profile-form" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>


{% endblock %}


