{% extends "network/layout.html" %}

{% block body %}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <!-- Profile Picture -->
                    <div class="col-md-3 text-center">
                        <img src="{{  profile_user.user_img.url }}" class="rounded-circle profile-img-lg" alt="Profile Picture">
                    </div>
                    <!-- Profile Info -->
                    <div class="col-md-9">
                        <h4 class="mb-0">{{profile_user.username}}</h4>
                        <p class="text-muted">{{profile_user.email}}</p>
                        <p>
                            {{profile_user.bio}}
                        </p>
                        <div class="d-flex mb-2">
                            <div class="mr-4">
                                <strong>1,234</strong> Following
                            </div>
                            <div>
                                <strong>5,678</strong> Followers
                            </div>
                        </div>
                        <div class="d-flex justify-content-between w-100">
                            
                            {% if user == profile_user %}
                                <button class="btn btn-primary">Edit Profile</button>
                            {% else %}
                                <button class="btn btn-dark">Follow</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-12">
        <h4 class="mt-4">Posts</h4>
    <div class="posts">

        {% for post in posts%}
        <div class="post-box">
            <div class="d-flex">
                <img src="{{ post.user.user_img.url }}" class="profile-img me-2 mr-2" alt="Profile">
                
                <div class="d-flex flex-column flex-grow-1">
                    <div class="mb-0">
                        <a href="{% url 'profile' post.user.username %}">{{post.user.username|upper}} </a>
                        <span class="text-muted"> 
                            {{post.user.email}}· 
                            {{post.created_at|timesince }} ago
                        </span>
                    </div>
                    <p>
                        {{post.content}}
                    </p>
                    
                    <div class="d-flex justify-content-around w-100">
                        <a href="#" class="far fa-heart"><span class="pl-2">{{ post.likes.count }}</span></a>
                        <a href="#" class="far fa-comment"><span class="pl-2">0</span></a>
                    </div>
                    
                </div>
                
            </div>
        </div>
        {% endfor %}

    </div>
    </div>
</div>


{% endblock %}